//$body-bg: #000;
//$body-color: #111;
$primary: #ffd400;
$btn-hover-color: #ffb800;
$body-color: #12122e;
$bg: #3d80e3;

$btn-link-color: #181840;

$bg-dark-gradient: linear-gradient(180deg, #161639 0%, #11112b 100%);
$text1: #12122e;
$text2: #313131;

$font-family-base: "Mont", sans-serif;
$headings-font-family: "Mont", sans-serif;
$btn-font-family: "Mont", "Mont", sans-serif;

$heading-font-special: "ChunkFive Ex", serif;

$headings-font-weight: 800;
$headings-color: #12122e;
