@font-face {
  font-family: "ChunkFive Ex";
  src: url("../fonts/chunkfive-ex/chunkfive-ex.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneue/helveticaNeueMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Regular.woff") format("woff"), url("../fonts/mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../fonts/mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-SemiBold.woff") format("woff"), url("../fonts/mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Bold.woff") format("woff"), url("../fonts/mont/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Heavy.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Heavy.woff") format("woff"), url("../fonts/mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.coming-soon-page {
  min-height: 100vh;
  background-color: #3d80e3;
}

.full-width .colmn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-width .colmn .col1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-width .colmn .col1 .code-image {
  width: 960px;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.full-width .colmn .col1 .image-bg-shape {
  position: absolute;
  z-index: 9;
}

.full-width .colmn .col1 .bg-img {
  width: 961px;
  height: 100vh;
}

.full-width .colmn .col2 {
  width: 100%;
  height: auto;
  margin-left: 86px;
}

.full-width .colmn .col2 .text-nagative-right {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  color: rgba(247, 248, 252, 0.4);
}

.full-width .colmn .col2 .text-work {
  font-family: ChunkFive Ex;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 150%;
  color: #ffffff;
}

.full-width .colmn .col2 .text-yallow {
  color: #ffd400;
}

.full-width .colmn .col2 .status-btn {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #181840;
  text-decoration: none;
  background: #ffd400;
  border-radius: 3px;
  padding: 13px 43px;
}

.full-width .colmn .col2 .text-left {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  color: rgba(247, 248, 252, 0.4);
}
/*# sourceMappingURL=style.css.map */