@font-face {
  font-family: "ChunkFive Ex";
  src: url("../fonts/chunkfive-ex/chunkfive-ex.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneue/helveticaNeueMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Regular.woff") format("woff"), url("../fonts/mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../fonts/mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-SemiBold.woff") format("woff"), url("../fonts/mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Bold.woff") format("woff"), url("../fonts/mont/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-Heavy.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Heavy.woff") format("woff"), url("../fonts/mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.coming-soon-page {
  min-height: 100vh;
  background-color: #3d80e3;
}

@media (min-width: 1200px) {
  .full-width .colmn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.full-width .colmn .col1 .code-image {
  width: 310px;
  height: auto;
}

@media (min-width: 576px) {
  .full-width .colmn .col1 .code-image {
    width: 400px;
    height: auto;
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col1 .code-image {
    width: 450px;
    height: auto;
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col1 .code-image {
    width: 650px;
    height: auto;
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col1 .code-image {
    width: 960px;
    height: 100vh;
    opacity: 1;
    z-index: 1;
  }
}

.full-width .colmn .col1 .image-bg-shape {
  position: absolute;
  margin-top: -325px;
}

@media (min-width: 576px) {
  .full-width .colmn .col1 .image-bg-shape {
    margin-top: -405px;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col1 .image-bg-shape {
    position: absolute;
    z-index: 9;
    margin: 0;
  }
}

.full-width .colmn .col1 .bg-img {
  width: 337px;
  height: auto;
  visibility: hidden;
}

@media (min-width: 576px) {
  .full-width .colmn .col1 .bg-img {
    width: 405px;
    height: auto;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col1 .bg-img {
    width: 460px;
    height: auto;
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col1 .bg-img {
    width: 660px;
    height: auto;
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col1 .bg-img {
    width: 961px;
    height: 100vh;
    visibility: visible;
  }
}

.full-width .colmn .col1 .mobile-device-bg {
  position: absolute;
  margin-top: -315px;
}

@media (min-width: 576px) {
  .full-width .colmn .col1 .mobile-device-bg {
    visibility: hidden;
  }
}

.full-width .colmn .col2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 0px;
}

@media (min-width: 768px) {
  .full-width .colmn .col2 {
    margin-left: 0px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col2 {
    margin-left: 0px;
    z-index: 10;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col2 {
    margin-left: 86px;
    z-index: 10;
    text-align: left;
  }
}

.full-width .colmn .col2 .col-2-under-col {
  text-align: center;
}

@media (min-width: 768px) {
  .full-width .colmn .col2 .col-2-under-col {
    text-align: left;
  }
}

.full-width .colmn .col2 .text-nagative-right {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: rgba(247, 248, 252, 0.4);
  margin-left: -130px;
  margin-bottom: 37px;
}

@media (min-width: 576px) {
  .full-width .colmn .col2 .text-nagative-right {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-left: -170px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col2 .text-nagative-right {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-left: 0px;
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col2 .text-nagative-right {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-left: 0px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col2 .text-nagative-right {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-left: -150px;
    margin-bottom: 122px;
  }
}

.full-width .colmn .col2 .text-work {
  font-family: ChunkFive Ex;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 52px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (min-width: 576px) {
  .full-width .colmn .col2 .text-work {
    font-family: ChunkFive Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col2 .text-work {
    font-family: ChunkFive Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 265px;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col2 .text-work {
    font-family: ChunkFive Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 265px;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col2 .text-work {
    font-family: ChunkFive Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 89px;
    margin-left: 0px;
    margin-right: 265px;
  }
}

.full-width .colmn .col2 .text-yallow {
  color: #ffd400;
}

.full-width .colmn .col2 .status-btn {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #181840;
  text-decoration: none;
  background: #ffd400;
  border-radius: 3px;
  padding: 13px 43px;
}

.full-width .colmn .col2 .text-left {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: rgba(247, 248, 252, 0.4);
  margin-top: 63px;
  margin-left: 130px;
}

@media (min-width: 576px) {
  .full-width .colmn .col2 .text-left {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-top: 67px;
    margin-left: 170px;
  }
}

@media (min-width: 768px) {
  .full-width .colmn .col2 .text-left {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-top: 67px;
    margin-left: 0px;
  }
}

@media (min-width: 992px) {
  .full-width .colmn .col2 .text-left {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-top: 67px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  .full-width .colmn .col2 .text-left {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
    color: rgba(247, 248, 252, 0.4);
    margin-top: 67px;
    margin-left: 150px;
  }
}
/*# sourceMappingURL=style.css.map */